.login {
    max-width: 380px;
    margin: 0 auto;
    padding: 50px;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: antiquewhite;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
